*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-color: #1a1a1a;
}
body{
    background-color: rgb(26, 25, 25);
    scroll-behavior: smooth;
}
.main h1{
    margin-top: 50px;
    margin-left: 64px;
    color: #ffff;
}
.main .h{
    width: 8%;
    height: 5px;
    border: 0 none;
    margin-left: 64px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 50px;
    background-color: #FDA620;
}

.content{
    width: 500px;
    height: 100px;
    margin-top: 100px;
    color: white;
    margin-left: 170px;
    
}

.content p{
    margin-bottom: 20px;
}

.content h2{
    font-weight:400;
    margin-top: 5px;
    margin-left: -3px;
}

.right{
    width: 630px;
    height: 400px;
 
    position: absolute;
    right: 10%;
    top: 15%;
    background-color: rgb(13, 12, 12);
    margin-left: 300px;
    text-align: center;
    line-height:55px;
    padding-top: 30px;
    
}

.right input{
    width: 80%;
    height: 35px;
    padding-left: 10px;
    border: none;
    background-color: #2f2d2d;
}

#mess{
    padding-bottom: 150px;
    padding-top: 14px;
}

.right a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.right button{
    border: none;
    background-color: #FDA620;
    padding: 1px 20px;
    margin-top: 15px;
    margin-left: 390px;
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.right button:hover{
    scale: 1.1;
}

.cards{
    width: 100%;
    margin-top: 250px;
    height: 310px;
 
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 40px;

}

.card{
    height: 85%;
    width: 25%;
    background-color: #2F2D2D;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

.card i{
    color: #FDA620;
    font-size: 30px;
}

.card h2{
    margin-top: 10px;
    color: white;
}

.card p{
    color:  white;
    margin-top: 10PX;
}

.card h4{
    color: #FDA620;
}