*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    
    html,body{
    background-color: rgb(26, 25, 25);
    scroll-behavior: smooth;
    }
    
    #main{
        width: 100%;
        overflow: hidden;
    }
    
    #landing{
        width: 100vw;
        height: 100vh;
        background-image: url(stewart-munro-l7hid8aHIm0-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.459);
    }
    
    #nav{
        width: 100%;
        height: 10vh;
        
        position: relative;
        display: flex;
        align-items: center;
    }

    #nav button{
        padding: 5px 16px;
        border-radius: 7px;
        box-shadow: none;
        background-color: #FDA620;
        border: none;
        color: white;
        font-size: 17px;
        border-top-left-radius: 0px;
        transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
    }

    #nav button:hover{
        scale: 1.1;
    }
    
    #nav h1{
        color: white;
        margin-left: 90px;
    
    }
    
    #nav span{
        color:#FDA620;
    }
    
    #left{
        width: 50%;
        display: inline-block;
        position: absolute;
        right: 0;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 40px;
        
    }
    
    #left a{
        text-decoration: none;
        color: white;
        display: inline-block;
        font-size: 20px;
        transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
        
        
        
    }
    #left a:hover{
        color: #FDA620;
        padding-bottom: 3px;
    }

/*login page css start here*/

#login{
    width: 100vw;
    height: 100vh;
    display: flex;
}

#loginleft{
    width: 70%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75)),url(quino-al-zjL2nfIoq3U-unsplash.jpg),url(photo-1487452066049-a710f7296400.jpeg);
}

#loginright{
    width: 30%;
    height: 100%;
    background-color: #1A1919;
}

#loginright h1{
    color: white;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 60px;
    margin-bottom: 70px;
}

#loginright input{
    margin-top: 30px;
    border: none;
    background-color: #1A1919;
    border-bottom: 1px solid #dc9144;
    width: 80%;
    padding-bottom: 8px;
    margin-left: 49px;
    color: white;
}

#loginright button{
    width: 70%;
    background-color: #dc9144;
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
    border: none;
    color: white;
    margin-left: 70px;
}

#loginright p{
    color: white;
    margin-top: 50px;
    margin-left: 110px;
}

#loginright a{
    text-decoration: underline;
    color: #dc9144;
}

#loginleft h1{
    color: white;
    width: 850px;
     margin-left: 100px;
     margin-top: 30%;
}

/*login page css ends here*/





    .new h1{
        margin-top: 60px;
        word-spacing: 2px;
        margin-left: 32px;
        font-size: 45px;
        font-weight: 600;
        color: rgb(255, 255, 255);
      }
      .h{
        width: 10%;
        height: 5px;
        border: 0 none;
        margin-left: 32px;
        border-radius: 2px;
        margin-top: 2px;
        margin-bottom: 50px;
        background-color: #FDA620;
      }
      .cards {
        justify-content: space-around;
        display: flex;
        gap: 2rem;
    }
    .cards h4{
        color: #ffffff;
        text-align: center;
    }
    .card img {
        width:auto;
        box-shadow: 0 3px 8px 0 rgba(64, 129, 138, 0.4), 0 8px 20px 0 rgba(94, 223, 240, 0.2);
        height: 40vh;
        transition: 0.9s;
    }
    .card img:hover{
        transform: scale(0.9);
    }

    .content{
        width: 100%;
        margin-top: 40px;
        display: flex;
        padding: 20px;
        justify-content: space-around;
    }
    .text1{
        padding-left: 2%;
        margin-top: 7%;
    }
    .text1 h3{
        color: #E3B665;
    }
    .text1 h2{
        font-size: 70px;
        color: rgb(255, 255, 255);
    }
    .text1 h4{
        color: rgb(255, 255, 255);
    }
    .text1 p{
        text-transform: lowercase;
        color: #ffffff;
        width: 80%;
    }
    .div2 img{
        height: 60vh;
        width: auto;
        margin-top: 80px;
        transition: 1s;
        box-shadow: 0 3px 8px 0 rgba(64, 129, 138, 0.4), 0 8px 20px 0 rgba(94, 169, 240, 0.2);
    }
    .content1{
        width: 100%;
        margin-top: 40px;
        display: flex;
        padding: 20px;
        justify-content: space-around;
    }
    .text2{
        padding-left: 2%;
        margin-top: 7%;
    }
    .text2 h2{
        font-size: 70px;
        color: rgb(255, 255, 255);
    }
    .text2 h4{
        color: rgb(255, 255, 255);
    }
    .text2 p{
        text-transform: lowercase;
        color: #ffffff;
        width: 60%;
    }
    .text2 button{
        padding: 8px 16px;
        border-radius: 7px;
        box-shadow: none;
        background-color: #FDA620;
        border: none;
        color: white;
        font-size: 17px;
        border-top-left-radius: 0px;
        cursor: pointer;
        transition:cubic-bezier(0.19, 1, 0.22, 1)1s;
    }

    .text2 button:hover{
        scale: 1.1;
    }



    .div3 img{
        height: 60vh;
        width: auto;
        margin-top: 80px;
        transition: 1s;
        box-shadow: 0 4px 8px 0 rgba(64, 129, 138, 0.4), 0 8px 20px 0 rgba(240, 191, 94, 0.2);
    }
    .gallery h1{
        margin-top: 60px;
        word-spacing: 2px;
        margin-left: 32px;
        font-size: 45px;
        font-weight: 600;
        color: rgb(255, 255, 255);
    }
    .gallery .h1{
            width: 10%;
            height: 5px;
            border: 0 none;
            margin-left: 32px;
            border-radius: 2px;
            margin-top: 2px;
            margin-bottom: 50px;
            background-color: #FDA620;
    }
    .gallery button{
        padding: 8px 16px;
        border-radius: 7px;
        box-shadow: none;
        background-color: #FDA620;
        border: none;
        margin-left: 138px;
        color: white;
        font-size: 17px;
        border-top-left-radius: 0px;
        cursor: pointer;
        transition:cubic-bezier(0.19, 1, 0.22, 1)1s;
    }
    .grid-gallery {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding: 50px 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 250px;
        grid-auto-flow: dense;
        grid-gap: 20px; 
      }
      
      .grid-gallery .grid-item {
        position: relative;
        background-color: #efefef;
        overflow: hidden;
        
      }
      
      .grid-gallery .grid-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s;
      }
      .grid-gallery .grid-item img{
        transform: scale(0.95);
      }
      .grid-gallery .grid-item img:hover{
        scale: 0.9;
        transition: 1s;
      }

      .grid-gallery .grid-item:nth-child(1) {
        grid-column: span 2;
        grid-row: span 3;
      }
      .grid-gallery .grid-item:nth-child(4) {
        grid-column: span 2;
        grid-row: span 2;
      }
      .grid-gallery .grid-item:nth-child(5) {
        grid-column: span 1;
        grid-row: span 2;
      }
      .cta {
        width: 85%;
        margin-left: 7.5%;
        background-image: linear-gradient(rgba(27, 26, 26, 0.75),rgba(34, 33, 33, 0.75)),url(fred-rivett-hen3VgPKKls-unsplash.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        border-radius: 10px;
        padding: 100px 100px;
      }
      .cta h1{
        color: #ffffff;
        font-size: 20pz;
      }
      .cta p{
        color: #ffffff;
      }
      .cta button{
        padding: 8px 16px;
        
        border-radius: 7px;
        box-shadow: none;
        background-color: #FDA620;
        border: none;
        color: white;
        font-size: 17px;
        border-top-left-radius: 0px;
        cursor: pointer;
        transition:cubic-bezier(0.19, 1, 0.22, 1)1s;
      }
    @media(max-width:600px){
        .new h1{
            text-align: center;
            margin: 0;
        }
        .h{
            margin-left: 45%;
            width: 10%;
        }
        .about p{
            font-size: 12px;
            width: 100%;
        }
        .card img{
            height: 50vh;
            width: 95%;
        }
        .cards{
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
        .content{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 3rem;
        }
        .text1 h2{
            text-align: center;
            font-size: 40px;
        }
        .div2 img{
            height: 50vh;
            width: 90%;
        }
        .content1{
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            gap: 3rem;
        }
        .text2 h2{
            text-align: center;
            font-size: 40px;
        }
        .div3 img{
            height: 50vh;
            width: 90%;
        }
        .gallery button{
            margin-right: 23%;
            margin-left: 37%;
        }
    }