*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    
    html,body{
    height: 100%;
    width: 100%;
    }
    
    #main{
        width: 100%;
    
    }
    
    #landing{
        width: 100vw;
        height: 100vh;
        background-image: url(photo-1487452066049-a710f7296400.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.459);
    }
    
    #nav{
        width: 100%;
        height: 10vh;
        background-color: rgba(0, 0, 0, 0.497);
        backdrop-filter: blur(9px);
        position: relative;
        display: flex;
        align-items: center;
    }
    
    #nav h1{
        color: white;
        margin-left: 90px;
    
    }
    
    #nav span{
        color:#E3B665;
    }
    
    #left{
        width: 50%;
        display: inline-block;
        position: absolute;
        right: 0;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 40px;
        
    }
    
    #left a{
        text-decoration: none;
        color: white;
        display: inline-block;
        font-size: 20px;
        transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
        
        
        
    }
    
    
    
    #left a:hover{
        color: #E3B665;
        padding-bottom: 3px;
    }

.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75)),url();
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 80%;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
   text-decoration: none;
   color: #0e0202;
   font-size: large;
   text-align: center;
   text-transform: uppercase;
}
.navbar1 ul li a:hover{
    width: 100%;
    transition: 0.5s;
    color: rgb(109, 110, 19);
}



#main{
    height: 100vh;
}
    .new h1{
        margin-top: 60px;
        word-spacing: 2px;
        margin-left: 32px;
        font-size: 45px;
        font-weight: 600;
        color: rgb(255, 255, 255);
      }
      .cards {
        justify-content: space-around;
        display: flex;
        gap: 2rem;
    }
    .cards h4{
        color: #ffffff;
        text-align: center;
    }
    
    .card img {
        width:auto;
        box-shadow: 0 4px 8px 0 rgba(64, 129, 138, 0.4), 0 8px 20px 0 rgba(240, 191, 94, 0.2);
        height: 40vh;
        transition: 1s;
    }
