*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    
    html,body{
    background-color: rgb(0, 0, 0);
    }
    
    #main{
        width: 100%;
        overflow: hidden;
    }
    
    #landing{
        width: 100vw;
        height: 100vh;
        background-image: url(stewart-munro-l7hid8aHIm0-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.459);
    }
    
    #nav{
        width: 100%;
        height: 10vh;
        background-color: rgba(0, 0, 0, 0.497);
        backdrop-filter: blur(9px);
        position: relative;
        display: flex;
        align-items: center;
    }
    
    #nav h1{
        color: white;
        margin-left: 90px;
    
    }
    
    #nav span{
        color:#E3B665;
    }
    
    #left{
        width: 50%;
        display: inline-block;
        position: absolute;
        right: 0;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 40px;
        
    }
    
    #left a{
        text-decoration: none;
        color: white;
        display: inline-block;
        font-size: 20px;
        transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
        
        
        
    }
    #left a:hover{
        color: #E3B665;
        padding-bottom: 3px;
    }
    .new h1{
        margin-top: 60px;
        word-spacing: 2px;
        margin-left: 32px;
        font-size: 45px;
        font-weight: 600;
        color: rgb(255, 255, 255);
      }
      .cards {
        justify-content: space-around;
        display: flex;
        gap: 2rem;
    }
    .cards h4{
        color: #ffffff;
        text-align: center;
    }
    .card img {
        width:auto;
        box-shadow: 0 4px 8px 0 rgba(64, 129, 138, 0.4), 0 8px 20px 0 rgba(240, 191, 94, 0.2);
        height: 40vh;
        transition: 0.9s;
    }
    .card img:hover{
        transform: scale(0.9);
    }

    .content{
        width: 100%;
        margin-top: 40px;
        display: flex;
        padding: 20px;
        justify-content: space-around;
    }
    .text1{
        padding-left: 2%;
        margin-top: 7%;
    }
    .text1 h2{
        font-size: 70px;
        color: rgb(255, 255, 255);
    }
    .text1 h4{
        color: rgb(255, 255, 255);
    }
    .text1 p{
        text-transform: lowercase;
        color: #ffffff;
    }
    .div2 img{
        height: 60vh;
        width: auto;
        margin-top: 80px;
        transition: 1s;
        box-shadow: 0 4px 8px 0 rgba(64, 129, 138, 0.4), 0 8px 20px 0 rgba(240, 191, 94, 0.2);
    }
    .content1{
        width: 100%;
        margin-top: 40px;
        display: flex;
        padding: 20px;
        justify-content: space-around;
    }
    .text2{
        padding-left: 2%;
        margin-top: 7%;
    }
    .text2 h2{
        font-size: 70px;
        color: rgb(255, 255, 255);
    }
    .text2 h4{
        color: rgb(255, 255, 255);
    }
    .text2 p{
        text-transform: lowercase;
        color: #ffffff;
    }
    .div3 img{
        height: 60vh;
        width: auto;
        margin-top: 80px;
        transition: 1s;
        box-shadow: 0 4px 8px 0 rgba(64, 129, 138, 0.4), 0 8px 20px 0 rgba(240, 191, 94, 0.2);
    }